<section class="bg-gray-100">
  <div class="section-container">
    <div class="max-w-xl mx-auto">
      <h2 class="text-center section-title font-bold">Edit User Details</h2>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-lg">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="space-y-1">
              <%= f.label :email, "Email address", class: "block text-sm font-medium text-gray-700" %>
              <%= f.email_field :email, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  %>
            </div>

            <div class="space-y-1">
              <%= f.label :name, "name", class: "block text-sm font-medium text-gray-700" %>
              <%= f.text_field :name, class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="space-y-1 mt-3">
              <%= f.label :password, "New Password", class: "block text-sm font-medium text-gray-700" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
              <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
            </div>
            <div class="space-y-1 mt-3">
              <%= f.label :current_password, "We need your current password to confirm your changes", class: "block text-sm font-medium text-gray-700" %>
              <div class="mt-1">
                <%= f.password_field :current_password, autocomplete: "current-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  %>
              </div>
            </div>

            <div class="space-y-1 mt-3">
              <%= f.submit "Update", class: "w-full cursor-pointer btn-primary" %>
              <%= link_to "Back", :back , class: "w-full cursor-pointer btn-primary"%>
            </div>


            <% end %>
        </div>
        </div>
    </div>

  </div>

</section>
