<section class="bg-gray-100">
  <div class="section-container">
    <div class="max-w-xl mx-auto">
      <h2 class="text-center section-title font-bold">
        Change your password
      </h2>
      <div class="mt-2 sm:mx-auto sm:w-full sm:max-w-lg">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

            <div>
              <div class="space-y-1 mt-3">
                <%= f.label :password, "Password", class: "block text-sm font-medium text-gray-700" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %>
                <%= f.password_field :password, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
              </div>


              <div class="space-y-1 mt-3 mb-6">
                <%= f.label :password_confirmation, "Password confirmation", class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1">
                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"  %>
                </div>
              </div>
              <div class="actions mb-6">
                <%= f.submit "Change my password" %>
              </div>
              <div class="space-y-4">
                <%= render "devise/shared/links" %>
              </div>

            </div>
      <% end %>
        </div>
      </div>
    </div>
  </div>
</section>