<section class="bg-gray-100">
  <div class="section-container">
    <div class="max-w-xl mx-auto">
      <h2 class="text-center section-title font-bold">
        Forgot your password?
      </h2>
      <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-lg">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
          <%= form_for(resource, as: resource_name, url: password_path(resource_name), data: {turbo: false}, html: { method: :post }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="space-y-1">
              <%= f.label :email, "Email address", class: "block text-sm font-medium text-gray-700" %>
              <%= f.email_field :email, class: "input"  %>
            </div>

            <div class="mt-5">
              <%= f.submit "Send me reset password instructions", class: "w-full cursor-pointer btn-primary" %>
            </div>
          <% end %>
          <div class="space-y-3 mt-5">
            <%= render "devise/shared/links" %>
          </div>

        </div>
      </div>



    </div>
  </div>
</section>